DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
AUDIUS_API_KEY=
AUDIUS_BEARER_TOKEN=
AUDIUS_API_BASE=https://discoveryprovider.audius.co
AUDIUS_API_AUTH_BASE=https://api.audius.co
JAMENDO_CLIENT_ID=
MUSICAPI_CLIENT_ID=
MUSICAPI_API_BASE=https://api.musicapi.com
RAPIDAPI_KEY=
RAPIDAPI_HOST=spotify23.p.rapidapi.com
REDIS_URL=redis://localhost:6379/0
MUSICBRAINZ_APP_NAME=MyMusicPlatform
MUSICBRAINZ_APP_VERSION=1.0.0
MUSICBRAINZ_CONTACT_EMAIL=
TESSERACT_CMD=C:/Program Files/Tesseract-OCR/tesseract.exe
